# QUESTION 1

In [26]:
a = 0

def b():
 global a
 a = c(a)
    
def c(a):
 return a + 2

b()
b()
b()
a

6

The global reserve keyword indicates that a is a global variable in function b, and the function c changes the value of a whenever the function b is called, i.e (increases its value by 2). With every function call of b, the global value of a is assigned and after the third function call a is 6

# QUESTION 2

In [27]:
def fileLength(filename): 
    try:              #catches any potential exceptions
        inputfile = open(filename)
        words = inputfile.read()
        inputfile.close()
        print(len(words))
    except:                  #If any exception occurs, this code block is executed to print file .... not found!!
        print("File "+filename+" not found!!")
fileLength("Filelength.txt") 
fileLength("ilelength.txt")

123
File ilelength.txt not found!!

# QUESTION 3

In [28]:
class Marsupial:                 
    def __init__(self,x,y):       #class Mersupial and its parametres
        self.pouch=[]              #the pouch  empty list attribute     
             
    def put_in_pouch(self,items):   
        self.pouch.append(items)     # Appends item to the pouch list
        
    def pouch_contents(self):           
        return self.pouch               # Returns the list of items in the pouch

class Kangaroo(Marsupial):         #Kangaroo with parameters, x and y
    def __init__(self,x,y):              
        super().__init__(x,y)    
        self.dx = 0                      
        self.dy = 0                        
    
    def jump(self,x,y):                 #method that updates the kangaroo's position by adding x and y to dx and dy
        self.dx = self.dx + x    
        self.dy = self.dy + y
    
    def __str__(self):         
        
        return ('I am a Kangaroo located at coordinates ( {},{})'.format(self.dx,self.dy)) #returns final string

k = Kangaroo(0,0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()
print(k.pouch)  
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates ( 0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates ( 3,0)

# QUESTION 4

In [11]:
def collatz (x):  
    if(x != 1): 
        print(x ) #Prints x value if x not equal to 1
    if(x == 1):
        print(x)
        return x #ends the function and returns x if x is 1
    if(x%2 == 0):  
        x = x // 2  # if x is even, divides by 2
        collatz(x)
    else:              
        x= 3*x + 1
        collatz(x) #Recursively calls the collatz function with the new value of x


collatz(1)  
print('\n')
collatz(10)

1


10
5
16
8
4
2
1

# QUESTION 5

In [29]:
binary_form ="" # Initialize an empty string to store the binary representation
def binary (n): #convert a decimal number to its binary form
    global binary_form  
    if(n==0): 
        print("0")   # Base case: if the number is 0, print "0"
        
    elif(n==1):                # Base case: if the number is 1, update the binary_form, reverse it, print, and reset binary_form
        binary_form +="1" 
        binary_form = binary_form [::-1] 
        print(binary_form)
        binary_form=""  
            
    else:                  # Recursive case: if the number is greater than 1, continue building the binary representation
        x=""
        remainder = int(n%2)
        x =str(remainder)
        binary_form+=x  
        n =int(n/2)
        binary(n) 

 #test       
binary(0)
binary(1)
binary(3)
binary(9)

0
1
11
1001

# QUESTION 6

In [14]:
from html.parser import HTMLParser
class HeadingParser(HTMLParser):
    indent = -6 
        
    def handle_starttag(self, tag, attrs): 
        if tag == 'h1':
            self.indent = 0
        elif tag == 'h2':
            self.indent = 1
        elif tag == 'h3':
            self.indent = 2
        elif tag == 'h4':
            self.indent = 3
        elif tag == 'h5':
            self.indent = 4            
        elif tag == 'h6':
            self.indent = 5
        else:
            self.indent = -6
               

    def handle_data(self, data):
        if data.strip() != "":
            printWithIndentation(data, self.indent) 
        

def printWithIndentation(text, indent):
    if indent >= 0:
        print(f"{' ' * indent}{text}")     

input_file = open('w3c.txt') 
content = input_file.read() 
input_file.close() 

headingParser = HeadingParser()
headingParser.feed(content)

W3C Mission
 Principles

# QUESTION 7

In [22]:
import requests
from bs4 import BeautifulSoup

def webdir(url, depth, indent):
    if depth == 0:
        return
    print(' ' * indent + url)
    try:
        response = requests.get(url)
        content = response.content
        soup = BeautifulSoup(content, 'html.parser')
        links = soup.find_all('a')
        for link in links:
            href = link.get('href')
            if href and href.startswith('http'):
                webdir(href, depth - 1, indent + 1)
    except requests.exceptions.RequestException as e:
        print(f"Error accessing {url}: {e}")

# Testing the function
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)

http://reed.cs.depaul.edu/lperkovic/csc242/test1.html

# Question 8

In [31]:
import sqlite3

def setup_database():
    # Connect to SQLite database (or create it if it doesn't exist)
    conn = sqlite3.connect('weather.db')
    cursor = conn.cursor()

    # Create table
    cursor.execute('''
        CREATE TABLE IF NOT EXISTS Weather (
            City TEXT,
            Country TEXT,
            Season TEXT,
            Temperature REAL,
            Rainfall REAL
        )
    ''')

    # Clear the table if it already exists to prevent duplicates
    cursor.execute('DELETE FROM Weather')

    # Insert data
    data = [
        ('Mumbai', 'India', 'Winter', 24.8, 5.9),
        ('Mumbai', 'India', 'Spring', 28.4, 16.2),
        ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
        ('Mumbai', 'India', 'Fall', 27.6, 346.0),
        ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
        ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
        ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
        ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
        ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
        ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
        ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
        ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
    ]
    cursor.executemany('INSERT INTO Weather VALUES (?,?,?,?,?)', data)

    # Commit changes to the database
    conn.commit()
    conn.close()

def run_queries():
    # Connect to the database
    conn = sqlite3.connect('weather.db')
    cursor = conn.cursor()

    # Query a) All the temperature data
    cursor.execute('SELECT Temperature FROM Weather')
    temperatures = cursor.fetchall()
    print("All the temperature data:", temperatures)

    # Query b) All the cities, but without repetition
    cursor.execute('SELECT DISTINCT City FROM Weather')
    cities = cursor.fetchall()
    print("All the cities, but without repetition:", cities)

    # Query c) All the records for India
    cursor.execute("SELECT * FROM Weather WHERE Country = 'India'")
    india_records = cursor.fetchall()
    print("All the records for India:", india_records)

    # Query d) All the Fall records
    cursor.execute("SELECT * FROM Weather WHERE Season = 'Fall'")
    fall_records = cursor.fetchall()
    print("All the Fall records:", fall_records)

    # Query e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters
    cursor.execute("SELECT City, Country, Season FROM Weather WHERE Rainfall BETWEEN 200 AND 400")
    rainfall_records = cursor.fetchall()
    print("Average rainfall between 200 and 400 mm:", rainfall_records)

    # Query f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order
    cursor.execute("SELECT City, Country FROM Weather WHERE Season = 'Fall' AND Temperature > 20 ORDER BY Temperature ASC")
    fall_temp_records = cursor.fetchall()
    print("Fall temperature above 20 degrees:", fall_temp_records)

    # Query g) The total annual rainfall for Cairo
    cursor.execute("SELECT SUM(Rainfall) AS Total_Annual_Rainfall FROM Weather WHERE City = 'Cairo'")
    cairo_rainfall = cursor.fetchone()
    print("Total annual rainfall for Cairo:", cairo_rainfall)

    # Query h) The total rainfall for each season
    cursor.execute("SELECT Season, SUM(Rainfall) AS Total_Rainfall FROM Weather GROUP BY Season")
    seasonal_rainfall = cursor.fetchall()
    print("Total rainfall for each season:", seasonal_rainfall)

    # Close the connection
    conn.close()

# Execute the functions
setup_database()
run_queries()

All the temperature data: [(24.8,), (28.4,), (27.9,), (27.6,), (4.2,), (8.3,), (15.7,), (10.4,), (13.6,), (20.7,), (27.7,), (22.2,)]
All the cities, but without repetition: [('Mumbai',), ('London',), ('Cairo',)]
All the records for India: [('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai', 'India', 'Spring', 28.4, 16.2), ('Mumbai', 'India', 'Summer', 27.9, 1549.4), ('Mumbai', 'India', 'Fall', 27.6, 346.0)]
All the Fall records: [('Mumbai', 'India', 'Fall', 27.6, 346.0), ('London', 'United Kingdom', 'Fall', 10.4, 218.5), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]
Average rainfall between 200 and 400 mm: [('Mumbai', 'India', 'Fall'), ('London', 'United Kingdom', 'Winter'), ('London', 'United Kingdom', 'Fall')]
Fall temperature above 20 degrees: [('Cairo', 'Egypt'), ('Mumbai', 'India')]
Total annual rainfall for Cairo: (27.6,)
Total rainfall for each season: [('Fall', 569.0), ('Spring', 192.29999999999998), ('Summer', 1706.5), ('Winter', 230.1)]

# QUESTION 9

In [32]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']  #defining the list
upper_list = []
lower_list = []
len_list = []
mix_list = []
four_char_list = []

for word in words:
    #converting list into uppercase
    upper_list.append(word.upper())   
    #converting list into lowercase
    lower_list.append(word.lower())   
    #printing lenght of the words in list
    len_list.append(len(word))        
    #printing the mix list
    mix_list.append([word.upper(), word.lower(), len(word)])    
    
    #printing word the list of words in list words containing 4 or more characters.
    if len(word) >= 4:                  
        four_char_list.append(word)

#printing list
print(upper_list)
print('\n')
print(lower_list)
print('\n')
print(len_list)
print('\n')
print(mix_list)
print('\n')
print(four_char_list)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']


['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']


[3, 5, 5, 3, 5, 4, 3, 4, 3]


[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]


['quick', 'brown', 'jumps', 'over', 'lazy']